/* Images created by: https://unsplash.com/@pawel_czerwinski */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(90deg, rgba(236,83,122,1) 0%, rgba(218,94,245,1) 35%, rgba(108,181,244,1) 100%) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.playlist-container {
  height: 500px;
  width: 400px;
  background: #222831;
  border-radius: 30px;
  box-shadow: 0 15px 30px 4px rgba(0,0,0,0.7);
}

.img-container {
  height: 300px;
  width: 300px;
  position: relative;
  top: 10px;
  left: 50px;
}

.img-container img{
  height: 90%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 4px 30px 4px rgba(0,0,0,0.8);
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

#title,
#artist {
  color: white;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
  color: white;
}

/* Control panel */
.playlist-controls {
  position: relative;
  top: -15px;
  left: 120px;
  width: 200px;
}

.fas {
  font-size: 30px;
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
  color: #ee1edc;
}

.fas:hover {
  filter: brightness(80%);
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

/* Media Queries  */
@media screen and (max-width: 376px) {
  .playlist-container {
    width: 95vw;
  }

  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 0px;
  }
}
